/* Remove the global div styling that was breaking layout */

.jeyhani{
  background-color: hotpink;
  border: 5px solid purple;
  padding: 10px;
}

.side-bar{
  background-color: cyan;
  border: 5px solid blue;
}
