
.user-section {
  width: 100%;
  height: 100%;
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-left: 1px solid $border-color;
  max-width: 24rem;

  &__header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 1rem 0 1rem;

    h3{
      padding-inline: 0.5rem;
    }
  }

  .new-user-btn {
    display: grid;
    place-items: center;
    gap: 1rem;
    width: 100%;
    padding-block: 1rem;
    padding-inline: 3rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    font-family: 'IRANSansX', serif;
    font-size: 1em;

    &:hover {
      background-color: #0056b3;
    }
    div{
      display: flex;
      align-items: center;
      gap: 0.5rem;
      .icon {
        width: 1.3rem;
        height: 1.3rem;
        transform: scale(-1, 1);
      }
    }

  }
}
