<aside class="user-section">
  <header class="user-section__header">
    <button (click)="onNewUserClick()" class="new-user-btn" >
      <div><span>اضافه کردن کاربر جدید</span>
        <img src="assets/icons/add-message.svg" alt="New User" class="icon"/></div>
    </button>
    <h3>لیست کاربران</h3>
  </header>


  <app-user-list [users]="users"
                         [renamingUserId]="renamingUserId"
                         (userSelected)="onUserClick($event)"
                         (userDeleted)="onDeleteUser($event)"
                         (renameAction)="onRenameAction($event)"
                         data-testid="today-history-list"></app-user-list>

</aside>
