
.user-list {
  &__list {
    display: flex;
    width: 100%;
    flex-direction: column;
    list-style-type: none;
    padding-inline: 1rem;
    margin: 0;
    overflow-y: auto;
    gap: 0.1rem;
  }

  &__item {
    display: flex;
    align-items: center;
    max-width: 100%;
    cursor: pointer;
    padding: 1rem 2rem;
    transition: background-color 0.2s, border-radius 0.2s;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    gap: 0.5rem;

    .text {
      flex: 1;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }


    .icon {
      width: 1.25rem;
      height: 1.25rem;
      flex-shrink: 0;
      display: none;
      transition: opacity 0.2s;
    }

    &:hover {
      background-color: $hover-background;
      border-radius: 6px;

      .icon {
        display: block;
      }
    }

    &.selected {
      background-color: $secondary-light-color;
      border-radius: 6px;
      color: $secondary-color;

      .icon {
        color: $secondary-color;
      }
    }
  }

  .rename-input {
    color: $text-color;
    align-items: center;
    padding: 0.9rem 1.9rem;
    border-radius: 6px;
    border: 2px solid $secondary-color;
    outline: none;
    box-shadow: none;

  }

  .date-label {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    padding-inline: 2rem;
    color: $text-light-color;
    font-weight: bold;
    font-size: 0.9em;
  }
}
